.navbar-menu .ant-menu-item {
  height: 50px;
  line-height: 50px;
  justify-content: center;
  margin-bottom: 20px;
}

.navbar-menu .ant-menu-item:active,
.navbar-menu .ant-menu-item:hover,
.navbar-menu .ant-menu-item:focus {
  background-color: green !important;
}

.navbar-menu .ant-menu-item-selected {
  background-color: green;
}
.ant-drawer-header {
  background-color: #001529;
  color: white;
}
.ant-drawer-close {
  color: white !important;
}
.ant-drawer-body {
  padding: 0 !important;
  background-color: #001529;

}